name: JAVA CI

on: 
  push:
    branches: [main]     
jobs:
    build:
        runs-on: ubuntu-latest
        permissions: read-all
        steps:
            - uses: actions/checkout@v4
            - name: set up JDK 11
              uses: actions/setup-java@v4
              with:
                  java-version: "17"
                  distribution: "temurin"
            - name: set up gradle
              uses: gradle/actions/setup-gradle@v4

            - name: generate gradle wrapper
              run: gradle wrapper
            - name: grant execute permission for gradlew
              run: chmod +x ./gradlew
            - name: build with gradle
              run: ./gradlew build


